/* rose saumon = #f05768
bleu/gris foncé = #2f3848
bleu soutenu = #004488
bleu clair (titres) = #00ccff
vert = yellowgreen */
.page {
    width: 900px;
    margin: 0em auto 0em;
    background-color: #2f3848;
    box-sizing: border-box;
}

.titre {
    color: white;
    background-color: #f05768;
    border-bottom: 1px solid white;
    text-align: center;
    margin: 0em;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    font-size: 2.5em;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.menu__list {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    padding: 0em;
}

.menu__list-line {
    padding-top: 0em;
    padding-bottom: 0em;
}

.menu__list-line--nav {
    padding-right: 1rem;
}

.menu__item {
    color: yellowgreen;
    font-weight: bold;
    text-transform: capitalize;
    text-decoration: none;
}

.menu__list-line--social {
    padding-left: 0.4rem;
}

.menu__link-image {
    width: 1.5rem;
}

.cameleon-semaine {
    position: relative;
}

.cameleon-semaine__titre {
    position: absolute;
    top: 0em;
    left: 0em;
    background-color:  #f05768;
    color: white;
    margin: 0em;
    padding: 0.8rem;
    text-transform: uppercase;
    font-weight: 900;
}

.cameleon-semaine__photo {
    width: 900px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.images__image {
    width: 100px;
    height: 100px;
}

.images__image--grosse {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    width: 210px;
}

.prospection {
    background-color: #004488;
    width: 300px;
}